#calendar-root {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-size: 13px;
    white-space: nowrap;
    gap: 0px 5px;
}

.calendar-row {
    display: flex;
    justify-content: space-between;
    gap: 0px 5px;
}

#calendar-events {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    display: flex;
    flex-direction: column;
    gap: 5px 0px;
}
#calendar-events::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.calendar-name {
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}