#headlines-root {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#headlines-body {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

#headlines-body::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.headlines-article {
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-inline-start: 10px;
}

.headlines-article > a, .headlines-article > a:visited {
    color: white;
    text-decoration: none;
}

.headlines-header {
    font-weight: bold;
    border-bottom: 1px solid #1E1E1E;
    box-sizing: border-box;
}

#headlines-body > ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-block-start: 2px;
    margin-block-end: 2px;
}