.index-root {
    color: #ddd;
    background-color: #EEE;
    height: 100%;
}
html {
    height: 100%;
}

body {
    height: calc(100% - 20px);
}

html, body, .index-root {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 11px;
    margin: 0;
}

.index-root {
    display: grid;
    padding: 5px;
}

.index-module {
    margin: 5px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: #383838;
}

.module-name {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 10px;
    background-color: white;
    color: black;
    font-size: 10px;
    padding: 1px;
}

.module-name-hide {
    visibility: hidden;
}

.module-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.module-header {
    display: flex;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
    align-items: center;
    height: 20px;
    gap: 0px 10px;
    background: rgba(82,82,82,1); /* Old Browsers */
    background: -moz-linear-gradient(left, rgba(82,82,82,1) 0%, rgba(82,82,82,1) 6%, rgba(82,82,82,0.5) 13%, rgba(82,82,82,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(82,82,82,1)), color-stop(6%, rgba(82,82,82,1)), color-stop(13%, rgba(82,82,82,0.5)), color-stop(100%, rgba(82,82,82,0))); /* Chrome, Safari4+ */
    background: -webkit-linear-gradient(left, rgba(82,82,82,1) 0%, rgba(82,82,82,1) 6%, rgba(82,82,82,0.5) 13%, rgba(82,82,82,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(82,82,82,1) 0%, rgba(82,82,82,1) 6%, rgba(82,82,82,0.5) 13%, rgba(82,82,82,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(82,82,82,1) 0%, rgba(82,82,82,1) 6%, rgba(82,82,82,0.5) 13%, rgba(82,82,82,0) 100%); /* IE 10+ */
    background: linear-gradient(to right, rgba(82,82,82,1) 0%, rgba(82,82,82,1) 6%, rgba(82,82,82,0.5) 13%, rgba(82,82,82,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#525252', endColorstr='#525252', GradientType=1 ); /* IE6-9 */
}

.status-field {
    padding-block: 5px;
    padding-inline: 10px;
}

.module-success {
    fill: green;
}

.module-failed {
    fill: red;
}

.module-loading {
    fill: gray;
}

.module-body {
    display: flex;
    height: 100%;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.module-body > div {
    width: 100%;
}

.module-api-result {
    display: flex;
}

.module-status-result {
    display: flex;
    gap: 0px 5px;
    align-items: center;
}

..module-status {
    display: flex;
    gap: 0px 5px;
    align-items: center;
}

.module-status-result > div {
    white-space: nowrap;
}

.api-status {
    display: flex;
    gap: 0px 5px;
    align-items: center;
    height: 20px;
}
.api-source {
    height: 10px;
    width: 10px;
    overflow: visible;
}

.module-status-icon {
    height: 15px;
    width: 10px;
    margin-left: 10px;
    overflow: visible;
}

.api-source-cache {
    fill: darkorange;
}

.api-source-prod {
    fill: green;
}

.api-source-error {
    fill: red;
}

.status-source {
    width: 10px;
}

.status-lastupdate {
    width: 60px;
}