.index-root {
    color: #ddd;
    background-color: #EEE;
    height: 100%;
}
html {
    height: 100%;
}

body {
    height: calc(100% - 20px);
}

html, body, .index-root {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 11px;
    margin: 0;
}

.index-root {
    display: grid;
    padding: 5px;
}

.index-module {
    margin: 5px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: #383838;
}

.module-name {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 10px;
    background-color: white;
    color: black;
    font-size: 10px;
    padding: 1px;
}

.module-name-hide {
    visibility: hidden;
}

.module-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.module-header {
    display: flex;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
}

.status-field {
    padding-block: 5px;
    padding-inline: 10px;
}

.module-title {
    width: 100px;
}

.module-success {
    background-color: #0b5b0b;
}

.module-failed {
    background-color: red;
}

.module-loading {
    background-color: gray;
}

.module-body {
    display: flex;
    height: 100%;
    padding: 10px;
    position: relative;
    overflow: hidden;
}