#meh-root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#meh-title {
    font-size: 16px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    background-color: #666;
    border-radius: 3px;
    overflow: hidden;
    height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#meh-divider {
    padding-inline: 0.25em;
}

#meh-image {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

img {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}