#outerspace-root {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
}

.outerspace-top {
    display: flex;
    flex-grow: 1;
}

.outerspace-people-title {
    font-weight: bold;
    display: flex;
    gap: 5px;
}

.outerspace-bottom {
    display: flex;
    flex-direction: column;
}

.outerspace-url {
    color: #ddd;
    text-decoration: none;
}

.iss-root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.iss-content {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}

.iss-content > img {
    object-fit: contain;
    height: 150px;
}

.iss-update {
    display: flex;
    gap: 5px;
    overflow: hidden;
    white-space: nowrap;
}

.outerspace-launches {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    white-space: nowrap;
    overflow: hidden;
    gap: 0px 10px;
}


.outerspace-people {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.outerspace-person {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.outerspace-title {
    text-overflow: ellipsis;
}
