.rootContainer {
    color: #ddd;
    background-color: #EEE;
}

html, body, .rootContainer {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
}

.rootContainer {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
}

.module {
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: #333;
}

#wwii { grid-area: 1 / 1 / 4 / 2; }
#worldclock { grid-area: 1 / 2 / 2 / 3; }
#life360 { grid-area: 1 / 3 / 2 / 4; }
#wikipedia { grid-area: 2 / 2 / 4 / 3; }
#weather { grid-area: 2 / 3 / 4 / 4; } 