#slideshow-root {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.slideshow-image {
    display: none;
    position: relative;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 2s;
}

.slideshow-image-visible {
    display: flex;
    justify-content: center;
}

.slideshow-image-fade-visible {
    opacity: 1;
    transition: opacity 2s;
}

#slideshow-title {
    position: absolute;
    margin-top: 5px;
}

.slideshow-image > img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    border-radius: 6px;
}

#slideshow-link {
    position: absolute;
    inset: 0;
    content: "";
}