#status-root {
    display: flex;
    height: 100%;
}

#status-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    gap: 5px;
}

.status-row {
    display: flex;
    height: 100%;
    width: 100%;
    gap: 5px;
    align-items: center;
    color: black;
    border-radius: 5px;
}

.status-row > div {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.status-source {
    display: flex;
    width: 20px;
    justify-content: center;
}

.status-name {
    width: 120px;
}

.status-lastupdate {
    width: 60px;
}

.status-success {
    background-color: lightgreen;
}
.status-stale {
    background-color: lightyellow;
}
.status-failed {
    background-color: lightcoral;
}

.status-notloaded {
    background-color: lightslategrey;
    color: black;
}

.api-source {
    height: 10px;
    width: 10px;
}

.api-source-cache {
    fill: darkorange;
}
.api-source-prod {
    fill: green;
}
.api-source-error {
    fill: red;
}