#weather-root {
    background-color: #ccc;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

#weather-day-current {
    color: black;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: baseline;
}

#weather-temp {
    display: flex;
    justify-content: center;
    width: 100%;
    align-self: auto;
}

#weather-forecast {
    display: flex;
    flex-direction: row;
}

.weather-day-wrapper {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-day-label {
    margin-top: 5px;
    color: black;
}

.axisRed line {
    stroke: black;
}

.axisRed path {
    display: none;
}

.axisRed text {
    fill: black;
}

.weather-day-icon {
    height: 60px;
    display: flex;
}

.weather-current-item {
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 5px;
    width: 100px;
    height: 20px;
    margin-block: 3px;
    padding: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.weather-current-icon {
    width: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.weather-current-text {
    height: 20px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    font-size: 12px;
    line-height: 20px;
}