.vs/
bin/
obj/
*.csproj.user
.bin/
node_modules
*.bak
ts-dist/
__pycache__/
*.user
ApiCache.json
WikipediaCache.json
InstanceSecretsApiCache.json
js-lib/
UpsAuthenticationCache.json
*.db
packagetrackingsampledata.json
*.nupkg
FedexAuthenticationCache.json
logfile.tsv
iss_location.png
secrets.json
BlinkenLights_Db_Prod.json
LogFiles/
