
<div id="countdown-root">
	<div class="countdown-row" date="2023-03-22" name="Ecuador"></div>
	<div class="countdown-row" date="2023-06-10" name="Wedding"></div>
	<div class="countdown-row" date="2023-07-03" name="Portugal"></div>
	<div class="countdown-row" date="2023-08-27" name="Burning Man"></div>
</div>

<script src="~/ts-dist/Countdown.js"></script>