@model IndexViewModel

<script src="~/js/ModuleHandler.js" asp-append-version="true"></script>

<div id="wwii" style="" class="module"></div>
<div id="worldclock" class="module"></div>
<div id="weather" class="module"></div>
<div id="wikipedia" class="module"></div>
<div id="life360" class="module"></div>



<div id="ts-example">
    <br />
    <button type="button" class="btn btn-primary btn-md" onclick="TSButton()">
        Click Me
    </button>
</div>
