@model IndexViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlinkenLights</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div class="rootContainer" style="@Model.GridTemplateStyle">
        @foreach (var modulePair in Model.ModulePlacementPairs)
        {
            <div class="moduleWrapper" name="@modulePair.Key" style="@modulePair.Value">
                <partial name="@modulePair.Key" />
            </div>
        }
    </div> 
</body>
</html>
