<link rel="stylesheet" href="~/css/life360.css" />
<script type="module" src="~/ts-dist/Life360.js"></script>

<div id="life360-root">
	<div id="life360-module"></div>
	<div id="life360-map"></div>
</div>