<link rel="stylesheet" href="~/js-lib/leaflet/dist/leaflet.css" />
 <script src="~/js-lib/leaflet/dist/leaflet.js"></script>

<link rel="stylesheet" href="~/css/life360.css" />
<script type="module" src="~/ts-dist/Life360.js"></script>

<div id="life360-root">
	<div id="life360-module"></div>
	<div id="life360-map"></div>
</div>