<link rel="stylesheet" href="~/css/life360.css" />
<script type="module" src="~/ts-dist/Life360.js"></script>

<div id="life360">
	<div id="life360-error"></div>
	<div id="life360-map"></div>
	<div id="life360-time"></div>
	<div id="life360-refresh" onclick="gpsHandler.refresh()">🗘</div>
</div>