<script type="module" src="~/ts-dist/Meh.js"></script>
<link rel="stylesheet" href="~/css/meh.css" />

<div id="meh-root" class="status-report">
	<div id="meh-title">
		<span id="meh-price"></span><span> - </span><span id="meh-item"></span>
	</div>
	<div id="meh-image"></div>
</div>