<link rel="stylesheet" href="~/css/weather.css" />

<script type="module" src="~/ts-dist/Life360.js"></script>
<script type="module" src="~/ts-dist/Weather.js"></script>


<div id="weather-root">
	<div id="weather-temp"></div>
	<div id="weather-humidity-button"></div>
	<div id="weather-rain-button"></div>
	<div id="weather-temperature-button"></div>
</div>