@using BlinkenLights.Models.WorldClock
@model WorldClockViewModel

<link rel="stylesheet" href="~/css/worldclock.css" asp-append-version="true" />

<script src="~/lib/moment/moment.js"></script>
<script src="~/js/WorldClock.js" asp-append-version="true"></script>

<div class="clock-title">World Clock</div>

@foreach(var tzInfo in Model.TimeZoneInfos) 
{
	<div class="clock-row">
		<div class="clock-city">@tzInfo.Key</div>
		<div class="clock-time" offset="@tzInfo.Value"></div>
	</div>
}
