<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blinkenlights</title>

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/leaflet/leaflet.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/d3/dist/d3.min.js"></script>
    <script src="~/lib/leaflet/leaflet.js"></script>
</head>
<body>
    <!--partial name="_LoginPartial" /-->
    @RenderBody()
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
