@using Blinkenlights.Dataschemas;
@model ApiStatus;

@{
	var statusIconClass = Model.State switch
	{
		ApiState.Success => "api-status-icon-success",
		ApiState.Failed => "api-status-icon-error",
		_ => "api-status-icon-unknown"
	};

	var lastUpdateTime = Model.LastUpdate == null ? "--" : Model.LastUpdate.Value.ToString("hh:mm tt");
}

<link rel="stylesheet" href="~/css/apistatus.css" />

<div class="api-status" title="@Model.Name - @Model.Status">
	<div class="api-status-icon @statusIconClass">
		<svg class="api-status-icon-svg" height="10px" width="10px"><circle cx="50%" cy="50%" r="5" transform=""></circle></svg>
	</div>
	<div class="api-status-lastupdate">
		@lastUpdateTime
	</div>
</div>