@using Blinkenlights.Models.Api.ApiResult;
@using Blinkenlights.Models.ViewModels;
@model ModuleViewModelBase

<div class="module-result" data-module-name="@Model.ModuleName" data-api-result="@Model.Status" hidden>
</div>

<script type="module">
	import { UpdateResult } from "./ts-dist/ModuleStatusCommon.js";
	UpdateResult("@Model.ModuleName");
</script>