@using Blinkenlights.Models.Api.ApiResult;
@model ApiResultBase

<div class="module-status" data-module-name="@Model.ModuleName" data-api-status="@Model.Status" hidden>
</div>

<script type="module">
	import { Refresh } from "./ts-dist/StatusModule.js";
	Refresh("@Model.ModuleName");
</script>