@using Blinkenlights.Models.ViewModels.Astronomy;
@model AstronomyViewModel

@if (!string.IsNullOrWhiteSpace(Model?.Status))
{
	<div id="astro-status" data-api-status="@Model.Status" hidden>
	</div>
}

<div id="astro-image">
	<div id="astro-title">@Model.Title</div>
	<img src="@Model.Source" />
	<a id="astro-link" href="@Model.Url" target="_blank"></a>
</div>

<link rel="stylesheet" href="~/css/astronomy.css" />
<script type="module" src="~/ts-dist/AstronomyModule.js"></script>