@using Blinkenlights.Models.Calendar
@model CalendarViewModel

<div id="calendar-status" data-api-status="@Model.Status" hidden>
</div>

<div id="calendar-data">@Model.Data</div>

<script type="module" src="~/ts-dist/CalendarModule.js"></script>