@using Blinkenlights.Models.ViewModels.FinanceAnswer;
@model FinanceAnswerViewModel

@await Html.PartialAsync("ModuleStatus", Model)

@if (Model?.Data?.Any() == true)
{
	foreach(var dataRow in Model.Data)
	{
		<div class="fin-data">
			<div class="fin-table">
				<div class="fin-symbol">
					@dataRow.Symbol
				</div>
				<div class="fin-price">
					@dataRow.Price
				</div>
			</div>
			<div class="finance-block" data-finance-graph="@dataRow.SerializePoints()"></div>
		</div>
	}

}

<script type="module" src="~/ts-dist/FinanceAnswerModule.js"></script>