@using Blinkenlights.Models.ViewModels.Life360;
@model Life360ViewModel

@await Html.PartialAsync("ModuleStatus", Model)

<div id="life360-data">
	@if (Model.Models?.Any() == true)
	{
		foreach (var userModel in Model.Models)
		{
			<div class="life360-user-model" data-model-info="@userModel"></div>
		}
	}
</div>

<div id="life360-time">@Model.UpdateTimeStr</div>

<script type="module" src="~/ts-dist/Life360Module.js"></script>