@using Blinkenlights.Models.ViewModels.Meh;
@model MehViewModel

@if (!string.IsNullOrWhiteSpace(Model?.Status)) {
	<div id="meh-status" data-api-status="@Model.Status" hidden>
	</div>
}

@if (!string.IsNullOrWhiteSpace(Model.Title) && !string.IsNullOrWhiteSpace(Model.ImageUrl))
{
	<div id="meh-title-block">
		<div id="meh-title">@Model.Title</div>
	</div>
	<div id="meh-image-block">
		<img id="meh-image" src="@Model.ImageUrl" />
	</div>
	<a id="meh-url" href="@Model.Url" target="_blank"></a>
}

<script type="module" src="~/ts-dist/MehModule.js"></script>