@using Blinkenlights.Models.ViewModels.OuterSpace;
@model OuterSpaceViewModel

<partial name="ModuleStatus" model="@Model" />

<link rel="stylesheet" href="~/css/outerspace.css" />
<div id="iss-root" class="status-report">
	@if (!string.IsNullOrWhiteSpace(Model?.ImagePath))
	{
		<div class="iss-content">
			<img src="@Model.ImagePath" />
		</div>
		<div class="iss-update">
			@Model.Report
		</div>

	}
</div>

<script type="module" src="~/ts-dist/OuterSpaceModule.js"></script>