@using Blinkenlights.Models.ViewModels.Slideshow;
@model SlideshowViewModel



@if (!string.IsNullOrWhiteSpace(Model?.Status))
{
	<div id="slideshow-status" data-api-status="@Model.Status" hidden>
	</div>
}

@if (Model.Frames?.Any() == true)
{
	foreach(var frame in Model.Frames)
	{
		<div class="slideshow-image">
			<div id="slideshow-title">@frame.Title</div>
			<img src="@frame.Source" />
			<a id="slideshow-link" href="@frame.Url" target="_blank"></a>
		</div>
	}
}

<link rel="stylesheet" href="~/css/slideshow.css" />
<script type="module" src="~/ts-dist/SlideshowModule.js"></script>