@using BlinkenLights.Models.WorldClock
@model WorldClockViewModel

@foreach(var tzInfo in Model.TimeZoneInfos) 
{
	<div class="clock-row">
		<div class="clock-city">@tzInfo.Key</div>
		<div class="clock-time" offset="@tzInfo.Value"></div>
	</div>
}